.bottom-me {
	background: url(../../images/me.png) bottom no-repeat;
}

.bottom {
	position: absolute;
	bottom:80px;
}
.qup {
    
}
.qdown {

}
.bottom-us {
    
}

.drunk {
    background: url(../../images/diego-drunk.jpg) #333 center no-repeat;
    opacity: .5;
}

.pino-intro li {
    margin: 20px 0;
}

.app {
    position: absolute;
    top: 110px;
    right: 50px;
    width: 340px;
    height: 532px;
}

.scrollergpu {
    position: absolute;
    top: 0;
    right: 108px;
    -webkit-transform: translate3d(-185px,0,0) rotate(38deg);
}

.stamp {
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 300px;
}